.invalid {
  color: #ff3333;
  font-size: 14px;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

#user-logo {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 20px;
}
